---
layout: default
title: Characters
---
<!-- FIXME: Leave out the filters for now, I may be able to leverage Algolia to do this instead! -->
<div id="character-list">
    <div id="portraits-view">
        <h1 class="characters-section-heading collapsible-button active">Baldur's Gate</h1>
        <div class="collapsible-content active">
            {% for npc in site.charactersBaldursGate %}
            <div class="character-portrait" onClick='showModal("{{npc.identifier}}", "{{site.characterUrlKey}}")'>
                <img src="{{site.baseurl}}/assets/img/npc/200x300/{{npc.image}}"
                     alt={{npc.name}}
                     width="200"
                     height="300"
                />
                {% if npc.isAlive == false %}
                <img class="deceased-overlay"
                     src="{{site.baseurl}}/assets/img/general/200x300/skull.png"
                     alt="{{npc.name}} is deceased"
                     width="200"
                     height="300"
                />
                {% endif %}
                <p class="name">{{npc.name}}</p>
            </div>

            {% capture modalContent %}
            {% include components/character-modal-content.html npc=npc %}
            {% endcapture %}
            {% include components/modal.html identifier=npc.identifier urlKey=site.characterUrlKey
            modalContent=modalContent %}

            {% endfor %}
        </div>

        <h1 class="characters-section-heading collapsible-button">Recurring Characters</h1>
        <div class="collapsible-content">
            {% for npc in site.charactersRecurringCharacters %}
            <div class="character-portrait" onClick='showModal("{{npc.identifier}}", "{{site.characterUrlKey}}")'>
                <img src="{{site.baseurl}}/assets/img/npc/200x300/{{npc.image}}"
                     alt={{npc.name}}
                     width="200"
                     height="300"
                />
                {% if npc.isAlive == false %}
                <img class="deceased-overlay"
                     src="{{site.baseurl}}/assets/img/general/200x300/skull.png"
                     alt="{{npc.name}} is deceased"
                     width="200"
                     height="300"
                />
                {% endif %}
                <p class="name">{{npc.name}}</p>
            </div>

            {% capture modalContent %}
            {% include components/character-modal-content.html npc=npc %}
            {% endcapture %}
            {% include components/modal.html identifier=npc.identifier urlKey=site.characterUrlKey
            modalContent=modalContent %}

            {% endfor %}
        </div>

        <h1 class="characters-section-heading collapsible-button">Bastion Helpers</h1>
        <div class="collapsible-content">
            {% for npc in site.charactersBastionHelpers %}
            <div class="character-portrait" onClick='showModal("{{npc.identifier}}", "{{site.characterUrlKey}}")'>
                <img src="{{site.baseurl}}/assets/img/npc/200x300/{{npc.image}}"
                     alt={{npc.name}}
                     width="200"
                     height="300"
                />
                {% if npc.isAlive == false %}
                <img class="deceased-overlay"
                     src="{{site.baseurl}}/assets/img/general/200x300/skull.png"
                     alt="{{npc.name}} is deceased"
                     width="200"
                     height="300"
                />
                {% endif %}
                <p class="name">{{npc.name}}</p>
            </div>

            {% capture modalContent %}
            {% include components/character-modal-content.html npc=npc %}
            {% endcapture %}
            {% include components/modal.html identifier=npc.identifier urlKey=site.characterUrlKey
            modalContent=modalContent %}

            {% endfor %}
        </div>

        <h1 class="characters-section-heading collapsible-button">Arc #1: Lost Mines of Phandelver</h1>
        <div class="collapsible-content">
            {% for npc in site.charactersLostMinesOfPhandelver %}
            <div class="character-portrait" onClick='showModal("{{npc.identifier}}", "{{site.characterUrlKey}}")'>
                <img src="{{site.baseurl}}/assets/img/npc/200x300/{{npc.image}}"
                     alt={{npc.name}}
                     width="200"
                     height="300"
                />
                {% if npc.isAlive == false %}
                <img class="deceased-overlay"
                     src="{{site.baseurl}}/assets/img/general/200x300/skull.png"
                     alt="{{npc.name}} is deceased"
                     width="200"
                     height="300"
                />
                {% endif %}
                <p class="name">{{npc.name}}</p>
            </div>

            {% capture modalContent %}
            {% include components/character-modal-content.html npc=npc %}
            {% endcapture %}
            {% include components/modal.html identifier=npc.identifier urlKey=site.characterUrlKey
            modalContent=modalContent %}

            {% endfor %}
        </div>
    </div>
</div>
