.no-padding-top {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.no-padding-bottom {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.addendum {
  font-size: 0.8rem;
  font-style: italic;
}
