.modal {
  .portrait {
    position: relative;
    float: left;
    margin: 0 var(--gap-l) var(--gap-m) 0;
    display: inline-block;
  }

  .occupation-title, .location-title, .description-title {
    margin: 0;
  }

  .gender-and-species, .occupation, .location, .description {
    margin-top: var(--gap-xs);
  }

  .name {
    margin: 0;
  }

  .gender-and-species {
    margin-top: var(--gap-xs);
    font-size: 0.85rem;
  }

  .gender, .species {
    text-transform: capitalize;
    font-style: italic;
  }

  .float-left {
    float: left;
    margin: var(--gap-m) var(--gap-m) var(--gap-m) 0;
  }

  .float-right {
    float: right;
    margin: var(--gap-m) 0 var(--gap-m) var(--gap-m);
  }

  .clear {
    clear: both;
  }

  @media (max-width: 600px) {
    padding: var(--gap-s);

    .portrait {
      margin-right: var(--gap-m);
    }
  }

  @media (max-width: 550px) {
    .name {
      font-size: 1.5rem;
    }

    .occupation-title, .location-title, .description-title {
      font-size: 1.25rem;
    }
  }

  @media (max-width: 500px) {
    .description-title {
      clear: both;
      text-align: center;
    }
  }

  @media (max-width: 375px) {
    .portrait {
      margin: 0 0 var(--gap-m) calc(50% - 100px);
    }

    .name, .occupation-title, .location-title, .description-title, .gender-and-species, .occupation, .location {
      margin-bottom: var(--gap-s);
      clear: both;
      text-align: center;
    }
  }
}
