#home {
  max-width: var(--page-max-width-xl);
  margin: 0 auto;
  padding: 1rem;
  text-align: center;

  .heading {
    display: block;
    text-align: center;
    font-size: 3rem;
    margin-bottom: var(--gap-m);
  }

  .hero-image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: var(--gap-m);
  }

  .hero-image {
    .image {
      max-width: 100%;
      height: auto;
      margin-bottom: var(--gap-xs);
    }

    .annotation {
      display: inline-block;
      width: 100%;
      text-align: center;
      font-size: 0.75em;
    }
  }

  @media (max-width: 1000px) {
    .hero-image-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 600px) {
    .heading {
      font-size: 2rem;
    }

    .hero-image-container {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @media (max-width: 400px) {
    .heading {
      font-size: 1.5rem;
    }
  }
}