.modal {
  .map-link {
    position: relative;
    float: left;
    margin: 0 var(--gap-l) var(--gap-m) 0;
    display: inline-block;
  }

  .description-title {
    margin: 0;
  }

  .type, .description {
    margin-top: var(--gap-xs);
  }

  .name {
    display: inline-block;
    margin: 0;
  }

  .pronunciation {
    display: inline-block;
    margin: 0;
    font-style: italic;
  }

  .type {
    font-size: 0.75rem;
    font-style: italic;
  }

  @media (max-width: 600px) {
    padding: var(--gap-s);

    .map-link {
      margin-right: var(--gap-m);
    }
  }

  @media (max-width: 550px) {
    .name {
      font-size: 1.5rem;
    }

    .description-title {
      font-size: 1.25rem;
    }
  }

  @media (max-width: 500px) {
    .description-title {
      clear: both;
      text-align: center;
    }
  }

  @media (max-width: 375px) {
    .map-link {
      margin: 0 0 var(--gap-m) calc(50% - 100px);
    }

    .name, .description-title {
      margin-bottom: var(--gap-s);
      clear: both;
      text-align: center;
    }
  }
}
