#locations {
  max-width: var(--page-max-width-xl);
  margin: 0 auto;
  padding: 0 var(--gap-l);
}

#tabs-container {
  display: block;
  width: 100%;

  .tab {
    display: inline-block;
    text-align: center;
    padding: var(--gap-m);
    border: 1px solid var(--foreground);
    cursor: pointer;
  }

  .tab.active {
    background: var(--foreground);
    color: var(--background);
  }

  .tab:hover {
    opacity: 0.75;
  }
}

.material-plane-map-welcome {
  text-align: center;
  margin-top: var(--gap-s);
  margin-bottom: var(--gap-l);
}

#qeenek-container {
  --zoom-size: 25px;
  position: relative;

  .scroll-container {
    display: inline-block;
    width: 100%;
    height: 650px;
    overflow: auto;
  }

  .zoom-control {
    position: absolute;
    top: var(--gap-xs);
    right: var(--gap-xs);
    display: inline-block;
    width: var(--zoom-size);
    height: var(--zoom-size);
    line-height: 25px;
    margin: 0;
    background: var(--foreground);
    color: var(--background);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }

  #zoom-out {
    line-height: calc(var(--zoom-size) - 2px); //2px = magic number to visually center the symbol
    top: calc(var(--zoom-size) + 5px);
  }

  #zoom-reset {
    top: calc(var(--zoom-size) * 2 + 6px); //6px = magic number to visually offset alignment
  }
}

#fantasyMap {
  margin-bottom: 0;
}

.plane-container {
  display: none;
  border: 5px solid var(--foreground);

  &.active {
    display: block;
  }
}

.locations-list-heading {
  text-align: center;
  border-bottom: 3px solid var(--foreground);
  padding-bottom: var(--gap-xs);
  margin-bottom: 0;
}

.location-list-item {
  --minimap-gap: var(--gap-m);
  --minimap-size: 100px;

  display: inline-block;
  width: 50%;
  padding: var(--gap-s);
  border-bottom: 1px solid var(--foreground);
  cursor: pointer;

  &:nth-of-type(2n) {
    border-left: 1px solid var(--foreground);
  }

  &:hover * {
    opacity: 0.75;
  }

  .minimap {
    float: left;
    width: var(--minimap-size);
    height: var(--minimap-size);
    display: inline-block;
    margin-right: var(--minimap-gap);
  }

  .name {
    display: inline-block;
    margin: 0 0 var(--gap-s) 0;
    font-size: 1.25rem;
  }

  .snippet {
    display: inline-block;
    margin: 0 0 var(--gap-xs) 0;
    width: calc(100% - var(--minimap-size) - var(--minimap-gap));
  }

  .clear {
    clear: both;
  }

  @media (max-width: 1400px) {
    .name {
      font-size: 1rem;
    }

    .snippet {
      font-size: .9rem;
    }
  }

  @media (max-width: 1300px) {
    width: 100%;

    &:nth-of-type(2n) {
      border-left: none;
    }

    .name {
      font-size: 1.25rem;
    }

    .snippet {
      font-size: 1rem;
    }
  }
}

.feywild-quote {
  text-align: center;
}

.feywild-map-warning {
  padding: 0 var(--gap-l);
  text-align: justify;
}
