.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.65);
  padding: var(--gap-l);
  overflow: hidden;
  z-index: 100;

  &.hide {
    display: none;
  }

  .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &:before, &:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 33px;
      width: 2px;
      background-color: var(--foreground);
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  .centre {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .content {
    max-width: var(--page-max-width-m);
    position: relative;
    padding: var(--gap-l);
    border-radius: 0.5rem;
    background-color: var(--background);
    max-height: 80vh;
    overflow: auto;
    text-align: left;
  }

  @media (max-width: 600px) {
    padding: var(--gap-s);

    .content {
      padding: var(--gap-m)
    }
  }

  @media (max-width: 375px) {
    padding: 0;

    .close {
      display: inline-block;
    }

    .content {
      max-height: 100%;
    }
  }
}
