#the-feywild {
  blockquote {
    text-align: center;
  }

  .emphasis {
    font-style: italic;
  }

  .laughing-fey {
    float: left;
    margin: 0 var(--gap-m) var(--gap-m) 0
  }

  .archfey {
    float: right;
    margin: 0 0 var(--gap-m) var(--gap-m)
  }
}
