#character-list {
    max-width: var(--page-max-width-l);
    margin: 0 auto;

    .filters-and-searchbar {
        padding: 0 var(--gap-l);
    }

    .filters-container {
        text-align: right;
    }
}