#character-modal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.85);
    padding: var(--gap-l);
    overflow: hidden;

    .close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 32px;
        height: 32px;
        opacity: 0.5;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }

        &:before, &:after {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 33px;
            width: 2px;
            background-color: var(--foreground);
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }

    .centre {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .content {
        max-width: var(--page-max-width-m);
        position: relative;
        padding: var(--gap-l);
        border-radius: 0.5rem;
        background-color: rgba(0, 0, 0, 1);
        max-height: 80vh;
        overflow: auto;
    }

    .portrait {
        position: relative;
        float: left;
        margin: 0 var(--gap-l) var(--gap-m) 0;
        display: inline-block;
    }

    .occupation-title, .location-title, .description-title {
        margin: 0;
    }

    .gender-and-species, .occupation, .location, .description {
        margin-top: var(--gap-xs);
    }

    .name {
        margin: 0;
    }

    .gender-and-species {
        margin-top: var(--gap-xs);
        font-size: 0.85rem;
    }

    .gender, .species {
        text-transform: capitalize;
        font-style: italic;
    }

    @media (max-width: 600px) {
        padding: var(--gap-s);

        .content {
            padding: var(--gap-m)
        }

        .portrait {
            margin-right: var(--gap-m);
        }
    }

    @media (max-width: 550px) {
        .name {
            font-size: 1.5rem;
        }

        .occupation-title, .location-title, .description-title {
            font-size: 1.25rem;
        }
    }

    @media (max-width: 500px) {
        .description-title {
            clear: both;
            text-align: center;
        }
    }

    @media (max-width: 375px) {
        padding: 0;

        .close {
            display: inline-block;
        }

        .content {
            max-height: 100%;
        }

        .portrait {
            margin: 0 0 var(--gap-m) calc(50% - 100px);
        }

        .name, .occupation-title, .location-title, .description-title, .gender-and-species, .occupation, .location {
            margin-bottom: var(--gap-s);
            clear: both;
            text-align: center;
        }
    }
}
