---
---
// Global styles
@use "globals";
@use "glitch-text";

// Styles of components that are used across multiple pages
@use "nav";
@use "footer";
@use "modal";
@use "search";

// Page specific styles
@use "index";
@use "characters";
@use "locations";
@use "lore";
@use "post";
@use "credits";

// Individual posts
@use "_posts/common";
@use "_posts/types-of-magic";
@use "_posts/the-feywild";
@use "_posts/names-and-their-power";
@use "_posts/dragons";

// Individual NPCs
@use "_npcs/nezznar-black-spider";