:root {
    --background: #ffffff;
    --background-darker: #cacaca;
    --foreground: #171717;
    --foreground-darker: #272727;

    --gap-xxs: 0.15rem;
    --gap-xs: 0.25rem;
    --gap-s: 0.5rem;
    --gap-m: 1rem;
    --gap-l: 2rem;
    --gap-xl: 5rem;

    --page-max-width-xl: 1500px;
    --page-max-width-l: 1200px;
    --page-max-width-m: 800px;
}

:root:has(.no-doc-scroll) {
    overflow: hidden;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --background-darker: #000000;
        --foreground: #ededed;
        --foreground-darker: #cacaca;
    }
}

* {
    box-sizing: border-box;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
a {
    color: var(--foreground);

    &:hover {
        color: var(--foreground-darker);
    }
}
