<div>
    <a class="map-link" href="{{site.baseurl}}/assets/img/location/{{include.location.image}}" target="_blank" rel="noopener noreferrer">
        <img class="map"
             src="{{site.baseurl}}/assets/img/location/200x200/{{include.location.image}}"
             alt={{include.location.name}}
             width="200" height="200"/>
    </a>
    <h1 class="name">{{include.location.name}}</h1>
    {%- if include.location.pronunciation != "" -%}
    <p class="pronunciation">&nbsp;({{include.location.pronunciation}})</p>
    {%- endif -%}
    <p class="type">{{include.location.type}}</p>
    <h2 class="description-title">About</h2>
    {{include.location.content}}
</div>
