<div class="locations-list">
    {%- for location in include.locations -%}
    <div class="location-list-item" onClick='showModal("{{location.identifier}}", "{{site.locationUrlKey}}")'>
        <img class="minimap"
             src="{{site.baseurl}}/assets/img/location/100x100/{{location.image}}"
             alt={{location.name}}
             width="100"
             height="100"
        />
        <h2 class="name">{{location.name}}</h2>
        <p class="snippet">{{location.snippet}}</p>
        <div class="clear"></div>
    </div>
    {%- capture modalContent -%}
    {%- include components/location-modal-content.html location=location -%}
    {%- endcapture -%}
    {%- include components/modal.html identifier=location.identifier urlKey=site.locationUrlKey modalContent=modalContent -%}
    {%- endfor -%}
</div>
