<div class="locations-list">
    <template class="locations-template">
        <!-- Main list -->
        <div class="location-list-item">
            <img class="minimap"
                 width="100"
                 height="100"
            />
            <h2 class="name"></h2>
            <p class="snippet"></p>
            <div class="clear"></div>
        </div>

        {%- capture modalContent -%}
        <div>
            <a class="map-link" target="_blank" rel="noopener noreferrer">
                <img class="map" width="200" height="200"/>
            </a>
            <h1 class="name"></h1>
            <p class="pronunciation"></p>
            <p class="type"></p>
            <h2 class="description-title">About</h2>
            <div class="description"></div>
        </div>
        {%- endcapture -%}

        {%- include components/modal-container.html customClass="location-modal" modalContent=modalContent -%}
    </template>

    <div class="locations-output"></div>
</div>
