<div>
    <a class="portrait" href="assets/img/npc/{{include.npc.image}}" target="_blank" rel="noopener noreferrer">
        <img class="image"
             src="assets/img/npc/200x300/{{include.npc.image}}"
             alt={{include.npc.name}}
             width="200" height="300"/>
        {% if include.npc.isAlive == false %}
        <img class="deceased-overlay"
             src="assets/img/general/200x300/skull.png"
             alt="{{include.npc.name}} is deceased"
             width="200"
             height="300"
        />
        {% endif %}

    </a>
    <h1 class="name">{{include.npc.name}}</h1>
    <p class="gender-and-species">
        <span class="gender">{{include.npc.gender}}</span>&nbsp;<span class="species">{{include.npc.species}}</span>
    </p>
    <h2 class="occupation-title">Occupation</h2>
    <p class="occupation">{{include.npc.occupation}}</p>
    <h2 class="location-title">Last seen</h2>
    <p class="location">{{include.npc.lastSeen}}</p>
    <h2 class="description-title">About</h2>
    {{include.npc.content}}
</div>
