<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/normalize.css">
        <link rel="stylesheet" href="/assets/css/styles.css">
        <!-- Components -->
        <script src="/assets/js/modal.js"></script>
        <!-- Page-specific -->
        <script src="/assets/js/characters.js"></script>
        <script src="/assets/js/locations.js"></script>
    </head>
    <body>
        {% include nav.html %}
        {{ content }}
        {% include footer.html %}
    </body>
</html>