.order-by-container {
    display: inline-block;
    text-align: left;
    margin-top: var(--gap-xs);
    margin-bottom: var(--gap-s);
}

.order-by-label {
    display: block;
    font-size: 0.75rem;
    margin-bottom: var(--gap-xxs);
}

.order-by-select {
    padding: var(--gap-xs);
    border-radius: 0.25rem;
    margin-right: var(--gap-xs);
}

@media (max-width: 400px) {
    .order-by-container {
        width: 100%;
        margin-top: 0;
        margin-bottom: var(--gap-m);
        text-align: center;
    }

    .order-by-label {
        display: block;
        margin-bottom: var(--gap-s);
    }

    .order-by-select {
        display: block;
        width: 100%;
        padding: var(--gap-s);
    }
}
